---
---

@import "{{site.theme}}";

body {
    padding: 25px;
}

ul ul {
    margin: 0 0 2px;
}

ul#markdown-toc,
ul#markdown-toc ul {
    list-style-type: none;
    padding-inline-start: 0;
}

ul#markdown-toc ul {
    padding-inline-start: 20px;
    margin: 0;
}

.wrapper {
    width: initial;
    display: flex;
    flex: 1 1 auto;
    margin-left: 25%;
    margin-right: 25%;
}

header, section {
    float: none;
    position: initial;
    width: initial;
}

header {
    white-space: nowrap;
    text-align: right;
    margin-bottom: 15px;
}

header > h1 {
    margin-bottom: 10px;
}

.header-and-toc-wrapper {
    margin-right: 50px;
    margin-bottom: 10px;
}

.header-and-toc-wrapper > aside {
    float: right;
    clear: both;
}

section > p {
    text-align: justify;
}

a {
    text-decoration: underline;
}

a:hover, a:focus {
    font-weight: inherit;
}

.fixed-link-to-main-page {
    position: fixed;
    bottom: 0;
    left: 25vw;
    background: white;
    padding: 5px;
    border: lightgrey solid 1px;
    border-bottom: none;
}

@media screen and (max-width: 900px) {
    .wrapper {
        flex-direction: column;
    }

    .header-and-toc-wrapper {
        margin-right: 0;
    }

    .fixed-link-to-main-page {
        left: 28px;
    }
}
