---
---

@import "{{site.theme}}";

html {
    width: 100%;
}

body {
    padding: 25px;
    width: 100%;
    overflow-x: hidden;
}

ul ul {
    margin: 0 0 2px;
}

ul#markdown-toc,
ul#markdown-toc ul {
    list-style-type: none;
    padding-inline-start: 0;
}

ul#markdown-toc ul {
    padding-inline-start: 20px;
    margin: 0;
}

.wrapper {
    width: 90%;
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
}

header, section {
    float: none;
    position: initial;
}

header {
    white-space: nowrap;
    text-align: right;
    margin-bottom: 15px;
}

header > h1 {
    margin-bottom: 10px;
}

.header-and-toc-wrapper {
    margin-right: 50px;
    margin-bottom: 10px;
}

.header-and-toc-wrapper > aside {
    float: right;
    clear: both;
}

section {
    width: inherit;
    overflow: scroll;
}

hr {
    margin-right: 20%;
}

section > * {
    padding-right: 10%;
}

section > p,
section > ol,
section > ul,
.article-text {
    text-align: justify;
}

a {
    text-decoration: underline;
}

a:hover, a:focus {
    font-weight: inherit;
}

pre.highlight {
    padding: 5px 10px;
}

code.language-plaintext {
    background-color: #f8f8f8;
    border: 1px solid #e5e5e5;
    padding: 0 2px;
}

.fixed-link {
    position: fixed;
    bottom: 0;
    background: white;
    padding: 5px;
    border: lightgrey solid 1px;
    border-bottom: none;

    &--to-main-page {
        left: 25vw;
    }

    &--to-next-post {
        right: 10vw;
    }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
    .wrapper {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    body {
        margin: 0;
    }

    .wrapper {
        flex-direction: column;
    }

    .header-and-toc-wrapper {
        margin-right: 0;
    }

    header {
        padding-right: 0;
    }

    hr {
        margin-right: 0;
    }

    section > p,
    section > ol,
    section > ul,
    .article-text {
        padding-right: 0;
    }

    .fixed-link--to-main-page {
        left: 25px;
    }

    .fixed-link--to-next-post {
        right: 25px;
    }
}

:target {
    animation: target-fade .5s;
    border-left: none;
}

@keyframes target-fade {
    from {
        border-left: 100px lightgray solid;
    }
    to {
        border-left: 0 lightgray solid;
    }
}